.theMain {
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	font-family: Calibri;
}

.header {
	height:200px;
   background: linear-gradient(orange,white, white ,white, green);
   border-style: solid;
   border-color: white;
   border-width: 10px;
   color:purple;
   font-size: 35px;
   position: relative; 
}
.Info {
	height:230px;
	background-color: lightblue;
	border-style: solid;
	border-color: white;
	border-width: 5px; 
}
.Announcement {
	height:200px;
	background-color: lightblue;
	border-style: solid;
	border-color: white;
	border-width: 5px;
}
.Links {
	height:120px;
	background-color: lightblue;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	text-decoration: none;
}
.Footer {
	height:70px;
   background: linear-gradient(orange,white, white, green);
   border-style: solid;
   border-color: white;
   border-width: 5px; 
   color: purple;
}

.Info a {
	background-image: url(Images/back.png); 
	color: purple;
	text-decoration: none;
	width: 90%; 
	height: 40px; 
	margin-top: 10px;
	margin-left: 5%; 
	font-size: 25px;
	display: inline-block;
}
.Links a {
	background-image: url("Images/back.png");
    position: relative;
	font-family: Calibri;
	height: 50px;
	width: 100px;
	margin-left: 10px;
	float: left;
	text-align: center;
	align-content: horizontal;
	color:purple;
	text-decoration: none;
	display: inline-block;
}

#font_flag_lin {
	background: -webkit-linear-gradient(orange, white, green); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
}

#font_flag_dia {
	background: -webkit-linear-gradient(left top , orange, white, green);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.blue_shadow {
	background: linear-gradient(lightblue, white);
}

.submit a { 
	color: purple;
	text-decoration: none;
	width: 90%; 
	height: 40px; 
	margin-top: 10px;
	font-size: 25px;
	display: inline-block;
}