.header {
	height:200px;
   background: linear-gradient(orange,white, white ,white, green);
   border-style: solid;
   border-color: white;
   border-width: 10px; 
   margin-left: 350px;
   margin-right: 350px;
   text-align: center;
   font-family: Calibri;

}
.Info {
	height:230px;
	background-color: lightblue;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    font-family: Calibri; 
}
.Announcement {
	height:200px;
	background-color: lightblue;
	border-style: solid;
	border-color: white;
	border-width: 5px; 
	margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    font-family: Calibri;
}
.Links {
	height:120px;
	background-color: lightblue;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	margin-left: 350px;
    margin-right: 350px;
    font-family: Calibri; 
    text-align: center;
}
.Footer {
	height:70px;
   background: linear-gradient(orange,white, white, green);
   border-style: solid;
   border-color: white;
   border-width: 5px;
   margin-left: 350px;
   margin-right: 350px;
   font-family: Calibri; 
}

.Links .txt {
	background-image: url(Images/back.png);
    position: relative;
	z-index: 1;
	font-family: Calibri;
	height: 20px;
	width: 100px;
	margin-left: 5px;
	float: left;
	text-align: center;
}


#font_flag_lin {
	background: -webkit-linear-gradient(orange, white, green); 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent; 
}

#font_flag_dia {
	background: -webkit-linear-gradient(left top, orange, white, green);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}