<!DOCTYPE html>
<html>
<head>
<style>
#header {
	height:200px;
   background: linear-gradient(orange,white, white ,white, green);
   border-style: solid;
   border-color: white; 
}
</style>

</head>

<body>
	<div id="header">

		<p id="text">
			<h2>State Bank of India </h2>
			<img id="sbilogo" style="height:70px" align="center" src="Images/flag_sbilogo.png" alt="image error"/> <br>
			<h2>New York</h2>
		</p>
	</div>
	<br>
	<br>
	<p>
		Conditions
	</p>
	<table border="1">
		<tr>
			<td>
				Eligibility
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td>
				Prizes
			</td>
			<td>
				<table border="1">
					<tr><td>
						First: Return Air Ticket for one person
					</td></tr>
					<tr><td>
						Second: Two IPad Air-2 (16GB)
					</td></tr>
					<tr><td>
						Three: 50 Dinner Coupons fat a New York Restaurant
					</td></tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				The Raffle
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td>
				Results
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td>
				How to Cliam
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td>
				Disclaimer
			</td>
			<td>
				
			</td>
		</tr>
	</table>
	<p>
		Enter Raffle
	</p>
</body>
</html>