<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../CSS/main.css">
</head>

<body class="theMain">
	<div class="header">
		<div>State Bank of India</div>
		<div><img id="sbilogo" style="height:70px" align="center" src="../Images/flag_sbilogo.png" alt="image error"/></div>
		<div>New York</div>
	</div>
	<div class="blue_shadow" style="text-align: center; height: 20px; width: 90%; height: 30px; margin-left: 5%">
		Enter Raffle
	</div>
	<div class="submit">
		<a href="../Templates/sbi_read_conditions.html" target="_self" style="background-image: url(../Images/back.png);">Read Conditions</a>
	</div>
	<div style="background-color: blue; color: white; width: 90%; margin-left: 5%; margin-top: 10px;">
		Please enter the following information for entering the raffle
	</div>
	<div></div>
	<div class="submit">
		<a href="../Templates/sbi_raffle_Id_Number.html" target="_self" style="background-image: url(../Images/back.png);">Submit</a>
	</div>
	<div style="background-color: lightblue; margin-top: 10px;">
		<div>
			<a href="../Templates/sbi_contact_us.html">
				<img src="../Images/test.png" align="center" style="width: 30%; ">
			</a>
		</div>
		<div style="background-image: url(../Images/back.png); width: 90%; margin-left: 5%;">	
		<font color="purple"> Open Checking Account Online <br> @ </font> www.statebank.com
		</div>
	</div>
</body>
</html>