<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="CSS/main.css">
</head>

<body>
	<div id="header">

		<p id="text">
			<h2>State Bank of India </h2>
			<img id="sbilogo" style="height:70px" align="center" src="Images/flag_sbilogo.png" alt="image error"/> <br>
			<h2>New York</h2>
		</p>
	</div>
	<p>
		Products & Services
	</p>
	<table bgcolor="lightblue">
		<tr>
			<td>
				Deposits
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td>
				Remittances
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td>
				Credit
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td>
				Trade Finance
			</td>
			<td>
				
			</td>
		</tr>
	</table>
	<div id="footer">
		<img src="Images/test.png">
	</div>
</body>
</html>