<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../CSS/main.css">
</head>

<body class="theMain">
	<div class="header">
		<div>State Bank of India</div>
		<div><img id="sbilogo" style="height:70px" align="center" src="../Images/flag_sbilogo.png" alt="image error"/></div>
		<div>US Operations</div>
	</div>
	<div class="blue_shadow" align="center" style="width: 90%; margin-left: 5%">
		Contact Us
	</div>
	<div class="header" style="height: 350px; font-size: 20px;">
		<div>
			New York Branch<br>
			460 Park Avenue, New York - 10022 <br>
			Email:sbi.nyb@statebank.com<br>
			Phone: 212 521 3200
		</div>
		<div>	
			Chicago Branch
		</div>
		<div>	
			Los Angeles Agency
		</div>
		<div>
			www.statebank.com
		</div>
	</div>
	<div class="Footer">
		<div>
			State Bank of India Corporate website: <br>
			<a href="" style="text-decoration: none;"> www.sbi.co.in </a><br>
		</div>
	</div>
</body>
</html>