<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../CSS/main.css">
</head>

<body class="theMain">
	<div class="header">
		<div>State Bank of India</div>
		<div><img id="sbilogo" style="height:70px" align="center" src="../Images/flag_sbilogo.png" alt="image error"/></div>
		<div>New York</div>
	</div>
	<div class="blue_shadow" align="center" style="width: 90%; margin-left: 5%">
		Conditions
	</div>
	<div></div>
	<div class="submit">
		<a href="../Templates/sbi_enter_raffle.html" target="_self" style="background-image: url(../Images/back.png);">Enter Raffle</a>
	</div>
</body>
</html>